pysam

kbr@git+https://github.com/brugger/kbr-tools.git@2_0
records@git+https://github.com/brugger/records.git
kbr-tornado@git+https://github.com/brugger/kbr-tools-tornado.git
kbr-dbase@git+https://github.com/brugger/kbr-tools-dbase.git

